<%= simple_form_for product do |f| %>
<%render 'card' do %>

  <div>
    <%= f.input :name, style: "display: block" %>
    <%= f.input :body %>
    <%= f.input :status, collection: Product.statuses.keys %>

    <div class="form-actions">
        <%= f.button :submit, class: "btn btn-secondary"%> 
        <%= link_to "Voltar ao índice", products_path, class: "btn btn-secondary", data: { bs_toggle: "tooltip", bs_placement: "auto" }%>
        <div>
    <!--esta linea aqui, varia en relacion a si el formulario esta dentro del archivo _new o del archivo _edit con la funcion form_width y el activerecord del freamwork -->
  </div>

<%end%> 
<% end %>
