<% content = capture do %>
  <%= render "card" do %>
    <h5><%= product.name %></h5>
    <%= truncate(product.body, length:30) %>
    <br>
    <%= product.status %>
    <%= format_date(product.created_at) %>
  <% end %>
<% end %>

<%= current_page?(product) ? content : link_to(product, class: "text-decoration-none text-dark") { content } %>

