<div id="<%= dom_id product %>">
  <div>
    <strong>Name:</strong>
    <%= product.name %>
    <%= product.body %>
    <%= product.id %>
    <%= product.created_at %>
    <%= product.updated_at %>
  </div>

</div>
