<p style="color: green"><%= notice %></p>
<h1>show.html.erb</h1>
<%= render @product %>

<div>
  <%= link_to"Edit", edit_product_path(@product), method: :get, class: "btn btn-secondary"  %>
  <%= button_to "Delete", @product,form: { style: "display:inline;" }, method: :delete, data: {turbo_confirm: "Quere apagar o registro?"}, class: "btn btn-secondary" %>
  <%= link_to "Voltar ao índice", products_path,
  class: "btn btn-secondary",
  title: "Voltar ao índice",
  data: { bs_toggle: "tooltip", bs_placement: "auto" }%>
</div>


